.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  background-color: silver;
}
.btn1 {
  margin-left: 726px;
  margin-top: 10px;
  margin-bottom: 10px;
}
